<!DOCTYPE html>
<html>
  <head>
    <title>findMonies.club</title>
    <style rel="stylesheet" href="css/main.css"></style>
  </head>
  <body>
    <div id="page">
      <header>
        <h1>findMonies Scholarships</h1>
      </header>
      <div id="table">
        <table>
          <tr id="table-head">
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
          </tr>
          <% scholarships.forEach(function(item){ %>
            <tr class="table-body">
              <td><%=item.name %></td>
              <td><%=item.amount %></td>
              <td><%=item.description %></td>
            </tr>
          <% }); %>
        </table>
      </div>
    </div>
  </body>
</html>
