table {
    text-align: left;
    font-size: large;
}
header>h1 {
    text-align: center;
}
table {
    margin: auto;
    margin-top: 5%;
}
td, th {

}
body {
    background-color: #85bb65
}
#page {
    margin-top: 20%;
}
